body{
background-image: url(images/table.jpg);
background-size: cover;
background-repeat:no-repeat;  
color: #fff;
text-align: center;
font-weight:bold;
font-family: "trebuchet";
  height:100vh; 
}

h1{
  color: goldenrod;

}
#message-el{
  font-style: italic;
}
#start-button, #draw-button{
  background: goldenrod;
  width: 150px;
  color: #016f32;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 5px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 4px;
  margin-top: 4px;
  cursor: pointer;

}

}@media (max-width:750px) {
  h1{
    font-size: 5em;
  }
}#messageEl, #cardsEl, #sumEl{
  font-size: 5em;
}#start-button, #draw-button{
  font-size: 1em;
  margin-bottom: 1em;
  width: 200px;
  padding: 10px 25px;
}
